numpy==1.21.6
opencv-python~=4.6.0.66
tqdm~=4.64.1
# detectron2~=0.6
# torch~=1.12.1
fvcore~=0.1.5.post20220512
tabulate~=0.8.10
termcolor~=1.1.0
pycocotools~=2.0.5
iopath~=0.1.7
pillow~=9.2.0
packaging~=21.3
cloudpickle~=2.0.0
matplotlib~=3.5.2
torchvision~=0.13.1
pyyaml~=6.0
dataclasses==0.6
omegaconf~=2.2.3
fairscale==0.4.6
timm~=0.6.11
setuptools~=63.4.1